#header{
	background-color: #1675B2 !important;
	
}

#btn-tienda{
    background-color: red;
}


#main .carousel-inner img{
    max-height: 90vh;
    object-fit:cover;
    
}
.carousel{
	position: relative;
}
.carousel .overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.3);
	color: white;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.carousel .overlay .container,
.carousel .overlay .row{
	height: 100%;
}
/*menu temas*/
.temas{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background-color: blue;
	padding:50px;
}
.temas img{
	max-height: 25vh;
    object-fit:cover;
}


/*--/menu temas---*/

footer{
	background-color:green;
}


@media (max-width:520px){
	#header{
		padding: 10px 0 5px 0px;
	}
	.menu-cel{
		width:100%;
		background-color:gray;
	}
	#cel-nav{
		margin:0 auto;
		background-color:rgba(0,0,0,0.7);	
	}
	#linea-menu{
		padding: 10px 0;
		border-bottom:1px solid gray;
	}
}